<launch>
    <node pkg="px4ctrl" type="px4ctrl_node" name="px4ctrl_node" output="screen">
        <param name="airsim_flag"  value="true"/>
        <param name="gazebo_flag"  value="false"/>

        <!-- <remap from="odom"         to="/airsim_node/drone_1/odom_local_ned"/>
        <remap from="state"        to="/mavros/state"/>
        <remap from="imu"          to="/airsim_node/drone_1/imu/imu"/>
        <remap from="rc_in"        to="/mavros/rc/in"/>
        <remap from="battery"      to="/mavros/battery"/>
        <remap from="pos_cmd"      to="/position_cmd"/>

        <remap from="reboot"       to="/mavros/cmd/command"/>
        
        <remap from="px4ctrl"      to="/mavros/setpoint_raw/attitude"/> -->

        <!-- <remap from="odom"         to="/mavros/local_position/odom"/> -->
        <remap from="odom"         to="/vins_estimator/imu_propagator"/>
        <!-- <remap from="odom"         to="/vio/odom"/> -->
        <remap from="state"        to="/mavros/state"/>
        <remap from="imu"          to="/airsim_node/drone_1/imu/imu"/>
        <remap from="rc_in"        to="/mavros/rc/in"/>
        <remap from="battery"      to="/mavros/battery"/>
        <remap from="pos_cmd"      to="/position_cmd"/>
        <remap from="px4ctrl"      to="/mavros/setpoint_raw/attitude"/>
        
        <rosparam command="load" file="$(find px4ctrl)/config/param.yaml"/>
    </node>
</launch>